<div class="container">
  <hr />
  <h2>Employee Table</h2>

  <hr />

  <div class="row">
    <div class="col-md-6">
      <label for="currentPage">Current Page:</label>
      <select [(ngModel)]="currentPage" class="form-control">
        <option *ngFor="let page of pages" [value]="page">
          {{ page }}
        </option>
      </select>
    </div>

    <div class="col-md-6">
      <label for="itemsPerPage">Items Per Page:</label>
      <select
        [(ngModel)]="itemsPerPage"
        (change)="onItemsPerPageChange()"
        class="form-control"
      >
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </div>

  <hr />

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
        <th>Profile Image</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let employee of employees | pagination : currentPage : itemsPerPage
        "
      >
        <td>{{ employee.id }}</td>
        <td>{{ employee.employee_name }}</td>
        <td>₹ {{ employee.employee_salary | salary }}</td>
        <td>{{ employee.employee_age }}</td>
        <td>
          <img
            [src]="employee.profile_image"
            alt="Profile Image"
            class="img-thumbnail"
            width="50"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
</div>

<!-- ||
              'https://picsum.photos/50?random=' + employee.id -->
